body{
    margin: 0 auto;
}
#app{
    text-align: center;
}
h1, h2{
    text-align: center;
}
/*Форма*/
.create_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 0 solid black;
    border-radius: 10px;
    width: 300px;
    height: auto;
    background-color: antiquewhite;
}
input {
    border: 0 solid black;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
}
button {
    border: 0 solid black;
    background-color: aliceblue;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}
#description{
    resize: none;
}
#reason{
    resize: none;
}
/*Модальное окно*/
.section-modal{
    margin: 0 auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.modal-dialog {
    width: 400px;
    margin: 30px auto;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
.close {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px 0 285px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    opacity: .5;
    background-color: white;
    text-decoration: none;
}
.modal-body{
    width: 400px;
    height: 340px;
}
.button{
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 10px 15px;
    background-color: antiquewhite;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
/* Таблички */
.tabs{
    display: flex;
    flex-direction: column;
}
.tabs-wrap{
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    width: 1500px;
    min-height: 770px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.tab{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    min-height: 700px;
    border-radius: 10px;
    background-color: aliceblue;
}
.tab-li{
    background-color: antiquewhite;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    list-style-type: none;
    margin-bottom: 20px;
}
a{
    cursor: pointer;
}
.tab-task > li{
    margin-bottom: 5px;
}
.tab-task{
    margin-bottom: 10px;
    text-align: start;
    padding: 0;
    margin-right: 30px;
    list-style-type: none;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.separator{
    height: 20px;
    width: 310px;
    margin-left: -40px;
    background-color: aliceblue;
}